.btn_standard{
    @include bot($colorLightBlue, $colorDarkBlue, 90%);
    &:hover{
        background-color: $colorBlue;
    }
}

.btn_nuevo{
    @include bot($black, $black, 90%);
    color: $white;
    &:hover{
        @include bot($white, $black, 90%);
        color: $black;
    }

}

.btn_cargar{
    @include bot($colorLightGreen, $colorDarkBlue, 90%);
    &:hover{
        background-color: $colorGreen;
    }
}

.btn_eliminar{
    @include bot($colorLightRed, $colorDarkBlue, 90%);
    &:hover{
        background-color: $colorRed;
    }
}

.btn-delete{
    background-color: $colorDelete;
    border: 1px black solid;
}