*{
    font-family: $mainFont;
    padding: 0;
    margin: 0;
}

header{
    padding: 20px;
}

main{
    @extend header;
}

footer{
    @extend header;
}

.btn{
    @include bot($colorLightBlue, $colorDarkBlue, 250px);
    &:hover{
        background-color: $colorBlue;
    }
}

.btn_cargar{
    @include bot($colorLightGreen, $colorDarkBlue, 250px);
    &:hover{
        background-color: $colorGreen;
    }
}

.btn_eliminar{
    @include bot($colorLightRed, $colorDarkBlue, 250px);
    &:hover{
        background-color: $colorRed;
    }
}